.vs
.vs/*
bin
bin/*
debug
debug/*
obj
obj/*
deploy
deploy/*
publish
publish/*
packages
packages/*
*.suo
*.cache
*.tmp
*.bak
*.user
*.xap
*.dbmdl
*Publish.xml
*.ldf
/Application/Source/RareCrew.Erp.Common/app.config
/Application/Source/RareCrew.Erp.UnitTesting/packages.config
/Application/Source/UpgradeLog.htm